#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

/* 
  Ajuste para iOS (Notch): 
  Esto se aplicará a las cabeceras para respetar el notch.
*/
.pt-safe {
  padding-top: env(safe-area-inset-top);
}